{% extends "base.html" %}
{% block content %}

<section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        <div >
                            <h5 class="mb_24">Reset your password</h5>
                            <p class="mb_30">We will send you an email to reset your password</p>
                            <div>
                               
                                <form class="mb_36"  method="post" accept-charset="utf-8" data-mailchimp="true">
                                    {% csrf_token %}
                                    <div class="tf-field style-1 mb_15">
                                        {{form.as_p}}
                                    </div>
                                    <div class="mb_20">
                                        <a href="#login" class="tf-btn btn-line">Cancel</a>
                                    </div>
                                    <div class="">
                                        <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Change password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tf-login-content">
                        <h5 class="mb_36">I'm new here</h5>
                        <p class="mb_20">If you haven't registered, please Sign Up</p>
                        <a href="{% url 'register' %}" class="tf-btn btn-line">Register<i class="icon icon-arrow1-top-left"></i></a>
                    </div>
                </div>
            </div>
        </section>

</section>
{% endblock content %}