{% extends "base.html" %}
{% block content %}

<section class="flat-spacing-10">
    <div class="container">
        <div class="tf-grid-layout lg-col-2 tf-login-wrap">
            <div class="tf-login-form">
                <div >
                    <h1 class="mb_24"> Check your inbox.</h1>
                    <p class="mb_30">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                    
                </div>
                
            </div>
           
        </div>
    </div>
</section>
{% endblock content %}