{% extends "base.html" %}
{% block content %}
        <!-- Start of Main -->
        <main class="main order">
            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb shop-breadcrumb bb-no">
                        <li class="passed"><a href="{% url 'cart' user %}">Shopping Cart</a></li>
                        <li class="passed"><a href="{% url 'checkout' user %}">Checkout</a></li>
                        <li class="active"><a href="#">Order Complete</a></li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of PageContent -->
            <div class="page-content mb-10 pb-2">
                <div class="container">
                    <div class="order-success text-center font-weight-bolder text-dark">
                        <i class="fas fa-check"></i>
                        Thank you. Your order has been received.
                    </div>
                    <!-- End of Order Success -->

                    <ul class="order-view list-style-none">
                        <li>
                            <label>Order number</label>
                            <strong>{{orders.ref_number}}</strong>
                        </li>
                        <li>
                            <label>Status</label>
                            <strong>On hold</strong>
                        </li>
                        <li>
                            <label>Date</label>
                            <strong>{{orders.order_date}}</strong>
                        </li>
                        <li>
                            <label>Total</label>
                            <strong>₦{{orders.get_total}}</strong>
                        </li>
                     
                    </ul>
                    <!-- End of Order View -->

                    <div class="order-details-wrapper mb-5">
                        <h4 class="title text-uppercase ls-25 mb-5">Order Details</h4>
                        <table class="order-table">
                            <thead>
                                <tr>
                                    <th class="text-dark">Product</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for order in order_items %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product-detail' order.product.slug %}">{{order.product.name|title}}</a>&nbsp;<strong>x {{order.quantity}}</strong><br>
                                        Vendor : <a href="{% url 'vendor-store' order.vendor.slug %}">{{order.vendor.company_name|title}}</a>
                                    </td>
                                    <td>₦{{order.prod}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td>₦{{total}}</td>
                                </tr>
                                <tr>
                                    <th>Delivery:</th>
                                    <td><h4 class="title-simple bb-no mb-1 pb-0 pt-3"><p class="fs-1 text-danger-emphasis"><i class="fa-solid fa-triangle-exclamation"></i> Delivery fee not included</p></h4>
                                    </td>
                                </tr>
                                
                                <tr class="total">
                                    <th class="border-no">Total:</th>
                                    <td class="border-no">₦{{total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- End of Order Details -->

                    <div class="sub-orders mb-10">
                        <h4 class="title mb-5 font-weight-bold ls-25">Sub Orders</h4>
                        <div class="alert alert-icon alert-inline mb-5">
                            <i class="w-icon-exclamation-triangle"></i>
                            <strong>Note: </strong>This order is from a single vendor.
                        </div>
                    </div>
                    <!-- End of Sub Orders-->

                    <div id="account-addresses">
                        <div class="row">
                            <div class="col-sm-6 mb-8">
                                <div class="ecommerce-address billing-address">
                                    <h4 class="title title-underline ls-25 font-weight-bold">Shipping Address</h4>
                                    <address class="mb-4">
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                              <label for="inputEmail4" class="form-label">First Name</label>
                                              <input type="text" class="form-control" id="inputEmail4" disabled placeholder="{{orders.address.first_name}}">
                                            </div>
                                            <div class="col-md-6">
                                              <label for="inputPassword4" class="form-label">Last Name</label>
                                              <input type="text" class="form-control" id="inputemail4" disabled placeholder="{{orders.address.last_name}}">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" id="inputEmail4" disabled placeholder="{{orders.address.phone_number}}">
                                              </div>
                                              <div class="col-md-6">
                                                <label for="inputPassword4" class="form-label">Email</label>
                                                <input type="text" class="form-control" id="inputemail4" disabled placeholder="{{orders.address.email}}">
                                              </div>
                                            <div class="col-12">
                                              <label for="inputAddress2" class="form-label">Street Address</label>
                                              <input type="text" class="form-control" id="inputAddress2" disabled placeholder="{{orders.address.address}}">
                                            </div>
                                            <div class="col-md-6">
                                              <label for="inputCity" class="form-label">City</label>
                                              <input type="text" class="form-control" id="inputCity" disabled placeholder="{{orders.address.city}}">
                                            </div>
                                            <div class="col-md-4">
                                              <label for="inputState" class="form-label">State</label>
                                              <input type="text" class="form-control" id="inputCity" disabled placeholder="{{orders.address.state}}">

                                            </div>
                                            
                                          </form>
                                    </address>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End of Account Address -->

                    <a href="#" class="btn btn-dark btn-rounded btn-icon-left btn-back mt-6"><i class="w-icon-long-arrow-left"></i>Back To List</a>
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->
{% endblock content %}